h1{
    font-family:"handjet";
    font-weight: 900;
}
h2{
    font-family:"handjet";
    font-weight: 900;
}
p{
    font-family:"handjet";
    font-size: larger;
    font-weight:bold;
}
ul{
    font-family:"handjet";
    font-size: larger;
    font-weight: bold; 
}
a{
    font-family:"handjet";
    
}